<div class="header">
  <div class="iconoYNombre">
    <img class="imagenHeader" src="/assets/Icon/iconoPS.png" alt="logo">
    <p class="labelHeaderNombre">PABLO SIERRA VALVERDE</p>
  </div>
  <!-- Elementos Hamburguesa -->
  <div class="elementos" *ngIf="hamburguesa" (click)="flagHamburguesaOpen()">
    <div class="elementosHamburguesaContainer" *ngIf="hamburguesaOpen">
      <div class="elementHeaderHamburguesa" id="{{index}}" *ngFor="let element of HeaderElements; let index = index" (click)="menuClicked(element.path)">
        <span class="icono"><ng-container><mat-icon>{{element.icon}}</mat-icon></ng-container></span>
        <p class="labelHeader">{{element.label}}</p>
      </div>
    </div>

    <span class="icono"><ng-container><mat-icon>menu</mat-icon></ng-container></span>
  </div>
  <!-- Elementos No hamburguesa -->
  <div class="elementos" *ngIf="!hamburguesa">
    <div class="elementHeader" id="{{index}}" *ngFor="let element of HeaderElements; let index = index">
      <span class="icono"><ng-container><mat-icon>{{element.icon}}</mat-icon></ng-container></span>
      <p class="labelHeader">{{element.label}}</p>
    </div>
  </div>
</div>
